

<div class="body-body">

   <div class="top-body">

   
<div class="title">

     <p> {{username}} </p>

</div>

</div>



   <div class="inside-body">

    <div class="box-1">
     
    <span class="inner-box-text"> <h2> {{alltotal}} </h2> Total Topics  </span>

<a href="/add-topic"  title="Add New Topic" >

    <div class="icon-div">
      <div class="icon">  
        +
    </div>
    </div>
</a>
    </div>

        <div class="box-1">
     
    <span class="inner-box-text"> <h2> {{sec}} </h2> Total Users  </span>

<a href="/register"  title="Add New User" >

    <div class="icon-div">
      <div class="icon">  
        +
    </div>
    </div>
</a>
    </div>


    <div class="box-2">

    <span class="inner-box-text"> <h2> {{admintotal}} </h2> Admin  </span>
    

    </div>


    <div class="box-3">

    <span class="inner-box-text"> <h2> {{userstotal}} </h2> Users  </span>


    </div>


  



   </div>

</div>

 </div>



</body>
</html>